<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<test name="Test1"  thread-count="5">
  <classes>
  <class name="expleo.challengingDom.footer.ChallengingDomFooterTest"/>
  <class name="expleo.challengingDom.header.ChallengingDomHeaderTest"/>
  <class name="expleo.challengingDom.OtherLinks.ChallengingDomOtherLinks"/>
  <class name="expleo.challengingDom.Tests.ChallengingDomTests"/>
  </classes>
  </test> 
  </suite>
